<div class="max-flex max-flex-wrap max-flex-nowrap-md max-flex-align-start max-flex-justify-center {{logo_headline.classes}} max-svg-children-h3 {{^logo_headline.single}}max-svg-children-h4{{/logo_headline.single}}">

  {{#logo_headline.logo}} {{> components-svg-bubble }} {{/logo_headline.logo}} {{#logo_headline.single}}
  <h2 class="max-flex-item max-mt-quart {{double_underline}} {{logo_headline.headline.classes}}">
    {{logo_headline.headline.text}}
  </h2>
  {{/logo_headline.single}} {{^logo_headline.single}}
  <h4 class="max-flex-item max-mt-base {{double_underline}} {{logo_headline.headline.classes}}">
    {{logo_headline.headline.text}}
  </h4>
  {{/logo_headline.single}}
</div>