<a href="{{ external_article.href }}" class="max-block max-my-base max-flex max-flex-column max-flex-row-sm max-flex-align-center">
  <img src="{{ external_article.img.src }}" alt="{{ external_article.img.alt }}" class="max-border-radius-full max-flex-basis-6 max-flex-basis-3-sm max-maxWidth-sm">

  <p class="max-mt-base max-mt-none-sm max-ml-base-sm">
    {{ external_article.descr }}
  </p>
</a>