<div class="{{ left_nav.wrapper_classes }}">
  <div class="{{ left_nav.top_classes }}">
    {{> patterns-top-menu }}
  </div>

  <div class="{{ left_nav.nav_classes }}">
    {{> patterns-left-nav }}
  </div>

  <main role="main" class="{{ left_nav.content_classes }}">
    {{> patterns-page-title }} {{> base-logo }}

    <p>
      {{ p1 }}
    </p>

    <p>
      {{ p2 }}
    </p>

    <p>
      {{ p3 }}
    </p>

    <p>
      {{ p4 }}
    </p>

    <p>
      {{ p5 }}
    </p>
  </main>
</div>