{{> components-logo-headline }}

<div class="max-ml-svg-bubble-md max-pl-oneHalf-md">
  <p>
    {{ article.p1 }}
  </p>

  <p>
    {{ article.p2 }}
  </p>

  <p>
    {{ article.p3 }}
  </p>

  {{#article.blockquote}}
    {{> base-blockquote }}
  {{/article.blockquote}}

  <p>
    {{ article.p4 }}
  </p>

  <p>
    {{ article.p5 }}
  </p>

  <p>
    {{ article.p6 }}
  </p>

  <p>
    {{ article.p7 }}
  </p>

  <p>
    {{ article.p8 }}
  </p>
</div>