<span class="ma-svg-bubble max-inline-block max-py-half max-text-center max-relative max-bg-contrast-primary-darker max-line-height-none {{ svg_bubble.classes }}">
  {{#svg_bubble.svgs}}
    {{> base-svg }}
  {{/svg_bubble.svgs}}
</span>