<div class="max-l-leftNav">
  <div class="max-l-leftNav__top">
    {{> patterns-top-menu }}
  </div>

  <div class="max-l-leftNav__nav">
    {{> patterns-left-nav }}
  </div>

  <div class="max-l-leftNav__content">
    {{> components-logo-headline }}
  </div>
</div>
