<div class="max-l-leftNav">
  <div class="max-l-leftNav__top">
    {{> patterns-top-menu }}
  </div>

  <div class="max-l-leftNav__nav">
    {{> patterns-left-nav }}
  </div>

  <div class="max-l-leftNav__content max-p-base max-px-oneHalf-md max-px-svg-bubble-lg max-maxWidth-max max-mx-auto">
    {{> components-article }}
  </div>
</div>
