{{#articles}}
<article role="article" class="max-maxWidth-lg max-mx-auto">
  {{> components-logo-headline }}

  <div class="max-ml-svg-bubble-md max-pl-oneHalf-md max-mb-quad">
    <p>
      {{ p1 }}
    </p>

    <p>
      {{ p2 }}
    </p>

    {{#blockquote}} {{> base-blockquote }}

    <p>
      {{ p1 }}
    </p>

    <p>
      {{ p2 }}
    </p>
    {{/blockquote}} {{#figure}} {{> base-figure-with-caption }}

    <p>
      {{ p3 }}
    </p>

    <p>
      {{ p4 }}
    </p>
    {{/figure}} {{#tweet}} {{> components-embedded-tweet }}

    <p>
      {{ p3 }}
    </p>

    <p>
      {{ p4 }}
    </p>
    {{/tweet}} {{#code}} {{> base-code }}

    <p>
      {{ p1 }}
    </p>

    <p>
      {{ p2 }}
    </p>
    {{/code}} {{#youtube}} {{> components-youtube-embed }}

    <p>
      {{ p3 }}
    </p>

    <p>
      {{ p4 }}
    </p>
    {{/youtube}} {{#iframe}} {{> components-iframe-embed }}

    <p>
      {{ p1 }}
    </p>

    <p>
      {{ p2 }}
    </p>
    {{/iframe}}
  </div>
</article>
{{/articles}}