<nav role="navigation" class="max-full-height max-box-shadow-1">
  <div class="max-full-height max-flex max-flex-column max-flex-justify-between max-inset-shadow-dark max-p-base max-bg-img-cover" style='background-image: url("{{ left_nav.bg_img }}")'>
    <div>
      <h3>
        {{title}}
      </h3>
      <h6 class="max-color-mono-lighter max-border-t max-border-mono-light max-font-weight-base max-mr-triple-md max-pt-base">
        {{tagline}}
      </h6>
    </div>

    <aside role="complementary" class="max-mt-double max-mt-triple-sm">
      <div class="max-flex max-flex-wrap max-flex-nowrap-md">
        {{#left_nav.social_icons}}
          <a class="max-flex-item max-flex-nogrow max-color-mono-lighter max-no-underline max-mr-base" href="href" target="_blank">
            {{> base-svg}}
            <span class="max-screenreader">
              {{ label }}
            </span>
          </a>
        {{/left_nav.social_icons}}
      </div>

      <div class="max-pt-half max-mt-half max-border-t max-border-mono-lightest">
        {{> components-wisdom }}
      </div>
    </aside>
  </div>
</nav>