<div class="max-full-height max-box-shadow-1">
  <div class="max-full-height max-flex max-flex-column max-flex-justify-between max-inset-shadow-dark max-p-base" style='background-image: url("{{ left_nav.bg_img }}")'>
    <div>
      <h2 class="max-border-b max-border-mono-light">
        {{title}}
      </h2>
      <h5 class="max-color-mono-light max-font-weight-base max-pr-triple-md">
        {{tagline}}
      </h5>
    </div>

    <div class="max-mt-base max-mt-triple-sm">
      <div class="max-flex max-flex-wrap">
        {{#left_nav.social_icons}}
          <a class="max-flex-item max-color-mono-lighter max-no-underline max-mr-half" href="href" target="_blank">
            {{> base-svg}}
            <br>
            <tiny>{{label}}</tiny>
          </a>
        {{/left_nav.social_icons}}
      </div>

      <div class="max-pt-half max-mt-half max-border-t max-border-mono-lightest">
        {{> components-wisdom }}
      </div>
    </div>
  </div>
</div>