<div class="plph-b-spacing__container"> 
  {{#spacing}}
    <div class="plph-b-spacing">
      <h6 class="plph-b-spacing__title">
        {{ distance }}
      </h6>

      <div class="plph-b-spacing__example plph-b-spacing__{{ distance }}"></div>
    </div>
  {{/spacing}}
</div>
