{{# container-elements }}
  <h4 class="max-b-container-el__title">
    {{ property }}
  </h4>

  <br>

  <div class="max-b-container-el __{{ property }}">
    {{# values }}
      <div class="max-b-container-el__item">
        <div class="max-b-container-el__inner-item __{{ property }}_{{name}}">
        </div>
      </div>
    {{/ values }}
  </div>

  <hr>
{{/ container-elements }}
