<div class="{{ left_nav.wrapper_classes }}">
  <div class="{{ left_nav.top_classes }}">
    {{> patterns-top-menu }}
  </div>

  <div class="{{ left_nav.nav_classes }}">
    {{> patterns-left-nav }}
  </div>

  <main role="main" aria-label="Content" class="{{ left_nav.content_classes }}">
    <h2>
      Experience
    </h2>

    <p>
      {{ experience_text }}
    </p>

    {{> components-job-entry }}

    <h2>
      Big Projects
    </h2>

    <p>
      {{ project_text }}
    </p>

    {{> patterns-image-link-group }}

    <h2>
      Articles
    </h2>

    <p>
      {{ articles_text }}
    </p>

    {{#articles}} {{> components-external-article }} {{/articles}}
  </main>
</div>