<a class="max-bg-contrast-primary-darker max-bg-contrast-primary-darkest-hover max-line-height-none max-inline-block max-no-underline max-font-size-small max-p-base max-py-half-md {{#top_menu_link.active}}max-bg-contrast-primary-darkest{{/top_menu_link.active}}" href="{{top_menu_link.href}}">
  {{top_menu_link.text}}
</a>