
@each $palette, $swatches in $color-map {
  @each $label, $color in $swatches {
    #{$g-nmsp}-bg-#{$palette}-#{$label} { background-color: $color; }
    #{$g-nmsp}-color-#{$palette}-#{$label} { color: $color; }
    #{$g-nmsp}-bg-contrast-#{$palette}-#{$label} { @include contra-color($color); }

    #{$g-nmsp}-bg-#{$palette}-#{$label}-hover {
      @include hovers() { background-color: $color; }
    }

    #{$g-nmsp}-bg-contrast-#{$palette}-#{$label}-hover {
      @include hovers() {
        @include contra-color($color);
        transition: color 0.5s;
        transition: background-color 0.5s;
      }
    }
  }
}

#{$g-nmsp}-inset-shadow-dark {
  color: color(mono, lightest);

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
}

#{$g-nmsp}-inset-shadow-light {
  color: color(mono, darkest);

  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75);
}
