$header-els: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

body {
  line-height: type(line-height, p);
  font-family: type(font-family, base);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre,
kbd { font-family: type(font-family, mono); }

pre {
  @include contra-color(color(mono, darker));
  display: block;
  max-width: 100%;
  max-height: rem(400px);
  padding: spacing(oneHalf);
  margin: spacing(double) 0;

  box-shadow: container(box-shadow, 1);

  white-space: pre-line;
  overflow-y: scroll;
}

#{$g-nmsp}-italic { font-style: italic; }
#{$g-nmsp}-underline { text-decoration: underline; }
#{$g-nmsp}-no-underline { text-decoration: none; }

#{$g-nmsp}-db-underline {
  position: relative;
  padding-bottom: spacing(quart);
  margin-bottom: spacing(double);

  border-bottom: 2px solid color(mono);

  &::after {
    content: '';
    
    position: absolute;
    top: calc(100% + #{spacing(half)});
    right: 0;
    left: 0;
    height: 1px;

    background-color: color(mono, lighter);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: type(font-weight, bold); }

ul,
ol {
  margin-bottom: spacing();

  font-size: type(font-size, p);

  li { margin-bottom: spacing(half); }

  ul,
  ol { margin-top: spacing(half); }
}

a {
  color: color(action);

  @include hovers() { color: color(action, dark); }
}

#{$g-nmsp}-list-style-none { list-style-type: none; }

@each $header in $header-els {
  #{$header} { font-family: type(font-family, header); }
}

@each $label, $font-family in map-get($typography-map, font-family) {
  #{$g-nmsp}-font-family-#{$label} { font-family: $font-family; }
}

@each $label, $weight in map-get($typography-map, font-weight) {
  #{$g-nmsp}-font-weight-#{$label} { font-weight: $weight; }
}

@each $label, $font-size in map-get($typography-map, font-size) {
  #{$label},
  #{$g-nmsp}-font-size-#{$label} { font-size: $font-size; }
}

@each $label, $line-height in map-get($typography-map, line-height) {
  #{$label},
  #{$g-nmsp}-line-height-#{$label} { line-height: strip-unit($line-height); }
}

@each $label, $margin in map-get($typography-map, margin) {
  #{$label},
  #{$g-nmsp}-type-margin-#{$label} { margin: $margin; }
}


@each $bp-label, $bp in $breakpoint-map {
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than(#{$bp-label}) {
    #{$g-nmsp}-text-center#{$bp-label-final} { text-align: center; }
    #{$g-nmsp}-text-right#{$bp-label-final} { text-align: right; }
    #{$g-nmsp}-text-left#{$bp-label-final} { text-align: left; }
  } 
}
