<div class="max-flex max-flex-wrap-sm max-flex-column max-flex-row-sm max-flex-justify-center max-py-half {{ image_link_group.classes }}">
  {{#image_link_group.links}}
  <div class="max-flex-item {{ image_link_group.image_classes }}">
    {{> components-image-link }}
  </div>
  {{/image_link_group.links}}
</div>