<div class="max-flex max-flex-wrap-sm max-flex-column max-flex-row-sm max-flex-justify-center {{image_group.classes}}">
  {{#image_group.images}}
  <div class="max-flex-item {{image_group.image_classes}}">
    {{> base-figure-with-caption }}
  </div>
  {{/image_group.images}}
</div>