<span class="ma-svg-bubble max-inline-block max-py-half max-px-base max-relative max-bg-contrast-primary-darker {{ svg_bubble.classes }}">
  
  {{#svg_bubble.svgs}}
    {{> base-svg }}
  {{/svg_bubble.svgs}}
</span>