blockquote,
#{$g-nmsp}-blockquote {
  padding: spacing();
  margin: type(margin, p);

  font-size: type(font-size, h3);
  line-height: type(line-height, large);
  font-family: type(font-family, header);

  border: spacing(third) solid color(primary, darkest);
  border-top-color: color(primary, darker);
  border-bottom-color: color(primary, dark);
  box-shadow: container(box-shadow, 1);

  p {
    margin: 0;
    font-size: type(font-size, h4);
    line-height: type(line-height, large);
  }

  @include larger-than(lg) {
    width: 50%;
    margin-left: spacing();
    float: right;
  }
}

blockquote cite,
#{$g-nmsp}-c-citation {
  display: block;

  text-align: right;
  font-size: type(font-size, h6);
  font-weight: type(font-weight, bold);
}