blockquote,
#{$g-nmsp}-blockquote {
  padding: spacing();
  margin: type(margin, p);

  font-size: type(font-size, h5);
  line-height: type(line-height, large);
  font-family: type(font-family, header);

  border: spacing(third) solid color(primary, darkest);
  border-top-color: color(primary, darker);
  border-bottom-color: color(primary, dark);
  box-shadow: container(box-shadow, 1);

  p { margin: 0; }
}

blockquote cite,
#{$g-nmsp}-c-citation {
  display: block;

  text-align: right;
  font-size: type(font-size, h6);
  font-weight: type(font-weight, bold);
}