<div class="max-iframe-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube_embed.video_id}}" title="{{youtube_embed.title}}" frameborder="0" allowfullscreen></iframe>
</div>