<a href="{{ image_link.href }}" target="_blank" class="max-block max-relative max-py-quad max-bg-primary-base max-inset-shadow-light max-bg-img-cover max-border-a max-border-action-dark max-border-a-w-quart" style='background-image: url("{{ image_link.img }}")'>
  <span class="max-absolute max-abs-r-none max-abs-b-none max-abs-l-none max-bg-contrast-action-dark max-px-quart">
    {{ image_link.label }}
  </span>
</a>