$swatches-per-row: 2;
$swatches-tones-per-row: 2;

$swatch-base-height: 120px;
$swatch-tone-height: 80px;

// Mixin for generating the common swatch colors
@mixin swatch__color-scheme-generator($u-color, $shade, $base: false) {
  @include contra-color($u-color);
  position: relative;

  text-transform: capitalize;

  @if ($base == true) {
    font-size: type(font-size, h4);
  } @else {
    font-size: type(font-size, small);
  }

  &::before,
  &::after {
    position: absolute;
    left: spacing(half);
  }

  &::before {
    top: spacing(half);
    content: quote(inspect($shade));
  }

  &::after {
    bottom: spacing(half);
    content: quote(inspect($u-color));

    text-transform: uppercase;
  }
}

#{$g-nmsp}-b-swatches {
  @include clearfix();
  display: flex;
  flex-wrap: wrap;
}

@supports ( display: grid ) {
  #{$g-nmsp}-b-swatches {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: spacing(half);

    @include larger-than(md) { grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); }
  }
}

// Base styles for all palettes
// Mainly the palettes and their layout
// The BEM mod makes it apply to each modified version
@include bem-mods(b-swatch) {
  @include clearfix();
  flex: 1 1 100%;

  @include larger-than(sm) { flex-basis: 50%; }
  @include larger-than(md) { flex-basis: (12 / $swatches-per-row); }
}


// The base color for every scheme
#{$g-nmsp}-b-swatch__base {
  width: 100%;
  height: $swatch-base-height;
}

// Container for both light and dark tones
#{$g-nmsp}-b-swatch__all-tones {
  @include clearfix();
  display: flex;
  width: 100%;
  height: $swatch-tone-height;
}

// Every light and dark tone of the base color
#{$g-nmsp}-b-swatch__tone {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
  float: left;

  @include larger-than(small) { width: percentage(1/$swatches-tones-per-row); }
}


@each $palette, $tones in $color-map {
  $base-color: map-get($tones, base);
  
  #{$g-nmsp}-b-swatch--#{$palette} {
    #{$g-nmsp}-b-swatch__base { @include swatch__color-scheme-generator($base-color, $palette, $base: true); }
    
    @each $tone-name, $tone-value in $tones {
      #{$g-nmsp}-b-swatch__tone--#{$tone-name} {
        display: inline-block;
        @include swatch__color-scheme-generator($tone-value, $tone-name);
      }
    }
  }
}
