.sg-pattern-body {
  @include clearfix();
}

.sg-annotations {
  @include clearfix();
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: spacing() 0 spacing() spacing();
  padding-left: spacing();

  border-left: 1px solid color(mono, darkest);

  &:after {
    position: absolute;
    top: spacing(double);
    left: (spacing(double) * -1);
    transform: rotate(270deg);
    content: 'Notes';
    padding-bottom: spacing(half);

    font-style: italic;
  }
}

.has-annotation {
  @include clearfix();
  position: relative;
  cursor: help !important;
  box-shadow: container(box-shadow);
  overflow: visible !important;

  a,
  input { cursor: help; }
}

.annotation-tip {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 25px;
  height: 25px;
  padding-top: 3px;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 100;

  text-align: center;
  color: color(mono, light);
  font-weight: type(font-weight, bold);

  border-radius: 100%;
  background-color: color(mono, dark);
}


// For the inline code sections
.sg-code a, .sg-annotations a { text-decoration: underline; }

.sg-code pre {
  padding: spacing(half);
  overflow: scroll;
  max-height: 22em;
  white-space: -moz-pre-line;
  white-space: -pre-line;
  white-space: -o-pre-line;
  white-space: pre-line;
  border-radius: container(border-radius);

  font-family: type(font-family, mono);
}

.clear { @include clearfix(); }

.sg-code-contains {
  margin-bottom: 1rem;
  font-size: 85%;
  color: #808080;
}

.sg-code-head {
  color: #808080;
  font-size: 1em;
}

