* { box-sizing: border-box; }

html { background-color: color(mono, lighter); }

body {
  margin: 0;

  background-color: color(mono, lightest);
}

@each $bp-label, $bp-width in $breakpoint-map {
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    #{$g-nmsp}-flex-wrap#{$bp-label-final} { flex-wrap: wrap; }

    #{$g-nmsp}-maxWidth#{$bp-label-final} { max-width: $bp-width; }
    #{$g-nmsp}-width-25#{$bp-label-final} { width: 25%; }
    #{$g-nmsp}-width-50#{$bp-label-final} { width: 50%; }
    #{$g-nmsp}-width-75#{$bp-label-final} { width: 75%; }
    #{$g-nmsp}-width-100#{$bp-label-final} { width: 75%; }

    #{$g-nmsp}-float-right#{$bp-label-final} { float: right; }
    #{$g-nmsp}-float-left#{$bp-label-final} { float: left; }
  }
}

#{$g-nmsp}-clearfix { @include clearfix(); }
#{$g-nmsp}-max-width-100 { max-width: 100%; }
#{$g-nmsp}-full-height { height: 100%; }
