<figure class="max-inline-flex max-flex-column max-flex-align-start max-m-none max-mb-oneHalf {{classes}}">
  <img src="{{ figure.img }}" alt="{{ figure.caption }}" /> {{#figure.caption}}
  <figcaption class="max-font-size-small max-line-height-small max-italic max-color-primary-darker max-pt-quart">
    {{ figure.caption }}
  </figcaption>
  {{/figure.caption}}
</figure>