.ma-svg-bubble {
  width: spacing(svg-bubble);
  max-width: spacing(svg-bubble);

  border-top-right-radius: container(border-radius, large);
  border-bottom-left-radius: container(border-radius, large);

  &::after {
    content: '';

    position: absolute;
    top: 100%;
    right: 0;
    width: spacing();
    height: spacing(half);

    border-bottom-left-radius: 100%;
    background-color: color(primary, darker);
  }
}