<ul class="max-block max-list-style-none max-flex max-flex-justify-center max-mb-double">
  {{#pagination.items}}
  <a href="{{href}}" class="max-color-mono-lightest max-no-underline">
    <li class="max-flex-item max-bg-primary-darker max-box-shadow-1 {{#active}}max-bg-primary-darkest max-font-weight-bold max-box-shadow-2{{/active}} max-bg-primary-darkest-hover max-flex-nogrow max-px-half max-py-quart max-mx-third max-my-none max-border-radius-small max-trans">

      {{ content }}
    </li>
  </a>
  {{/pagination.items}}
</ul>