<div class="max-flex max-flex-align-center {{logo_headline.classes}}">
  {{#logo_headline.logo}}
    {{> components-svg-bubble }}
  {{/logo_headline.logo}}

  <h3 class="max-flex-item {{double_underline}} {{logo_headline.headline.classes}}">
    {{logo_headline.headline.text}}
  </h3>
</div>