<div class="max-flex max-flex-wrap max-flex-nowrap-md max-flex-align-center max-flex-justify-center {{logo_headline.classes}}">
  {{#logo_headline.logo}}
    {{> components-svg-bubble }}
  {{/logo_headline.logo}}

  {{#logo_headline.single}}
    <h2 class="max-flex-item {{double_underline}} {{logo_headline.headline.classes}}">
      {{logo_headline.headline.text}}
    </h2>
  {{/logo_headline.single}}  
  {{^logo_headline.single}}
    <h4 class="max-flex-item {{double_underline}} {{logo_headline.headline.classes}}">
      {{logo_headline.headline.text}}
    </h4>
  {{/logo_headline.single}}
</div>