<div class="max-flex max-flex-wrap max-flex-nowrap-md max-flex-align-start max-flex-justify-center {{logo_headline.classes}} max-svg-children-h3 {{^logo_headline.link}}max-svg-children-h4{{/logo_headline.link}}">

  {{#logo_headline.logo}}
    {{> components-svg-bubble }}
  {{/logo_headline.logo}}

  <div class="max-flex-item">
    <tiny class="max-color-primary-light max-italic max-mb-none {{logo_headline.date.classes}}">
      {{logo_headline.date.text}}
    </tiny>

    {{#logo_headline.link}}
      <h4 class="max-mt-none {{double_underline}} {{logo_headline.headline.classes}}">
        <a class="max-no-underline" href="{{ logo_headline.link }}">
          {{logo_headline.headline.text}}
        </a>
      </h4>
    {{/logo_headline.link}}  
    
    {{^logo_headline.link}}
      <h2 class="max-line-height-small max-pb-half {{double_underline}} {{logo_headline.headline.classes}}">
        {{logo_headline.headline.text}}
      </h2>
    {{/logo_headline.link}}
  </div>
</div>