  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="../../js/main-base.js?{{ cacheBuster }}"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  </body>
</html>
